PORT=8080

# Clever Cloud MySQL addon
# Copia los valores desde: Console > tu addon MySQL > Información / Environment variables
# https://console.clever-cloud.com/

MYSQL_ADDON_HOST=YOUR_HOST-mysql.services.clever-cloud.com
MYSQL_ADDON_PORT=3306
MYSQL_ADDON_USER=YOUR_USER
MYSQL_ADDON_PASSWORD=YOUR_PASSWORD
MYSQL_ADDON_DB=YOUR_DATABASE_NAME

# Opcional (Clever Cloud la inyecta automáticamente al desplegar)
# MYSQL_ADDON_URI=mysql://USER:PASSWORD@HOST:3306/DATABASE
